workflows/incident-triage.json
{
  "name": "incident-triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incident",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -256
      ],
      "id": "470cbc81-a01a-4612-a711-759f2c833bda",
      "name": "Webhook",
      "webhookId": "fff28daa-2c84-4ebf-aba0-647a56452c74"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { triage: $('Edit Fields').item.json.triage, occurrence_count: $('record-incident').item.json.occurrence_count, issue_url: $('open-issue').item.json.html_url } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        160
      ],
      "id": "d9235c3f-2b86-4e7b-a22e-41655720d0f3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \"An alert fired. Investigate it.\\n\\nIncident:\\n- service: \" + $json.service + \"\\n- level: \" + $json.level + \"\\n- message: \" + $json.message + \"\\n- fingerprint: \" + $json.fingerprint }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AIOps incident-triage agent. When an alert fires, investigate before concluding, using your tools in this order: (1) query the logs tool for recent log rows for the affected service; (2) check recent git commits to see whether a recent deploy could have caused the issue; (3) search the runbook knowledge base for known root causes and remediation steps. Correlate timing between the error and any recent commit. Base your reasoning only on retrieved data.\n\nYou are an AIOps incident-triage agent. When an alert fires, investigate before concluding, using your tools in this order: (1) query the logs tool for recent log rows for the affected service; (2) check recent git commits to see whether a recent deploy could have caused the issue; (3) search the runbook knowledge base for known root causes and remediation steps. Correlate timing between the error and any recent commit. Base your reasoning only on retrieved data.\n\nReturn your conclusion as a structured object with these fields: title (short incident title), service (affected service), severity (one of: low, medium, high, critical), hypothesis (root cause), evidence (a list of specific findings from logs, commits, and runbooks), recommended_action (concrete next step), and confidence (0.0 to 1.0). Populate evidence with concrete items you actually retrieved."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        -256
      ],
      "id": "53b12c51-7120-4826-b7e4-f0fe197fd8dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Normalize an incoming alert into a stable incident object.\nconst body = $input.first().json.body ?? {};\n\nconst service = String(body.service ?? 'unknown').trim().toLowerCase();\nconst level   = String(body.level   ?? 'ERROR').trim().toUpperCase();\nconst message = String(body.message ?? '').trim();\n\n// A signature is the message with volatile bits (numbers, hex ids, timestamps)\n// stripped, so \"timeout after 30000ms\" and \"timeout after 12ms\" collapse to one.\nconst signature = message\n  .replace(/\\b[0-9a-f]{8,}\\b/gi, 'ID')   // hex ids / trace ids\n  .replace(/\\d+/g, 'N')                  // any run of digits\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 120);\n\nconst incident = {\n  service,\n  level,\n  message,\n  signature,\n  fingerprint: `${service}:${signature}`,\n  received_at: new Date().toISOString(),\n};\n\nreturn [{ json: incident }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -256
      ],
      "id": "fdb9d23a-bd81-4e61-b6dd-e7c702b2d1f4",
      "name": "normalizer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        -48
      ],
      "id": "5862328a-eb3e-4378-8cfc-aa0222e00fa1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xPmmolWpjDif5VO0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query recent application logs for a given service. Input: a service name string. Returns the most recent log rows (timestamp, level, message) for that service so you can investigate errors.",
        "operation": "executeQuery",
        "query": "SELECT ts, level, message, trace_id\n     FROM logs\n     WHERE service = $1\n     ORDER BY ts DESC\n     LIMIT 20;",
        "options": {
          "queryReplacement": "=={{ $fromAI(\"service\", \"the service name to query logs for, e.g. checkout-api\", \"string\") }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -192,
        96
      ],
      "id": "ec8e9023-6f88-4058-8791-a274e50fe02f",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "c3dv7XytSKGUUoeY",
          "name": "AIOPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8a330e4-12e5-4e9c-a51c-c348def22821",
              "name": "triage",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -256
      ],
      "id": "6c98d472-674e-42fb-a539-7c912afbdb3c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        240
      ],
      "id": "67d1e3b6-c367-4dc2-8d83-732c9e7e05ba",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xPmmolWpjDif5VO0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the runbook and past-incident knowledge base for guidance on how to investigate and remediate an issue. Use this when you need known root causes, investigation steps, or remediation advice for a symptom or error message. Input: a description of the symptom or error.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        96,
        96
      ],
      "id": "426cc65f-503f-4e7a-a823-e9d5fe920c0c",
      "name": "search_runbooks",
      "credentials": {
        "supabaseApi": {
          "id": "ahHDYJkUXHzgXUS9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "List the 10 most recent commits on the deployed service's git repository. Use this to check whether a recent code change or deployment could have caused the incident. Returns commit messages, authors, and timestamps.",
        "url": "https://api.github.com/repos/H9m8/aiops-triage-agent/commits?per_page=10",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-aiops-agent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -16,
        96
      ],
      "id": "85bde7cf-b815-424a-af81-c7a1760cc327",
      "name": "check_recent_commits",
      "credentials": {
        "githubApi": {
          "id": "pvSSidtXTbqvxbYY",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\", \"description\": \"Short incident title\" },\n    \"service\": { \"type\": \"string\", \"description\": \"Affected service name\" },\n    \"severity\": { \"type\": \"string\", \"enum\": [\"low\", \"medium\", \"high\", \"critical\"], \"description\": \"Incident severity\" },\n    \"hypothesis\": { \"type\": \"string\", \"description\": \"Root-cause hypothesis based on evidence\" },\n    \"evidence\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Specific evidence points: log lines, commits, runbook findings\" },\n    \"recommended_action\": { \"type\": \"string\", \"description\": \"Concrete recommended next step\" },\n    \"confidence\": { \"type\": \"number\", \"description\": \"Confidence from 0.0 to 1.0\" }\n  },\n  \"required\": [\"title\", \"service\", \"severity\", \"hypothesis\", \"evidence\", \"recommended_action\", \"confidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        96
      ],
      "id": "73ca4c98-1b30-4136-96b1-ccacaab2a2d7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "={{ $('normalizer').item.json.fingerprint }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -336,
        96
      ],
      "id": "b7516a6b-e0bf-46cb-811f-d4742dc8bbb2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "c3dv7XytSKGUUoeY",
          "name": "AIOPS"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO incidents\n     (fingerprint, service, title, severity, hypothesis, recommended_action, confidence, occurrence_count, first_seen, last_seen)\n   VALUES\n     ($1, $2, $3, $4, $5, $6, $7, 1, now(), now())\n   ON CONFLICT (fingerprint) DO UPDATE SET\n     occurrence_count = incidents.occurrence_count + 1,\n     last_seen        = now(),\n     severity         = EXCLUDED.severity,\n     hypothesis       = EXCLUDED.hypothesis,\n     recommended_action = EXCLUDED.recommended_action,\n     confidence       = EXCLUDED.confidence\n   RETURNING fingerprint, occurrence_count, first_seen, last_seen;",
        "options": {
          "queryReplacement": "={{ [$('normalizer').item.json.fingerprint, $('normalizer').item.json.service, $json.triage.title, $json.triage.severity, $json.triage.hypothesis, $json.triage.recommended_action, $json.triage.confidence] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -256
      ],
      "id": "d0767a58-1ced-4217-8600-9ae8b83f0ea7",
      "name": "record-incident",
      "credentials": {
        "postgres": {
          "id": "c3dv7XytSKGUUoeY",
          "name": "AIOPS"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41099902-bf48-464f-a6a3-dccef9498273",
              "name": "issue_title",
              "value": "={{ \"[\" + $('Edit Fields').item.json.triage.severity.toUpperCase() + \"] \" + $('Edit Fields').item.json.triage.title }}",
              "type": "string"
            },
            {
              "id": "26925527-9d69-4622-9afe-bc5f80fc4055",
              "name": "issue_body",
              "value": "={{ \"## Automated Triage Report\\n\\n**Service:** \" + $('Edit Fields').item.json.triage.service + \"\\n**Severity:** \" + $('Edit Fields').item.json.triage.severity + \"\\n**Confidence:** \" + $('Edit Fields').item.json.triage.confidence + \"\\n**Occurrence count:** \" + $json.occurrence_count + \"\\n\\n### Root-cause hypothesis\\n\" + $('Edit Fields').item.json.triage.hypothesis + \"\\n\\n### Evidence\\n- \" + $('Edit Fields').item.json.triage.evidence.join(\"\\n- \") + \"\\n\\n### Recommended action\\n\" + $('Edit Fields').item.json.triage.recommended_action + \"\\n\\n---\\n_Filed automatically by the AIOps incident-triage agent._\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -256
      ],
      "id": "4347ecdb-183e-4329-9737-5843815f749f",
      "name": "compose-issue"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "H9m8",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "aiops-triage-agent",
          "mode": "name"
        },
        "title": "={{ $json.issue_title }}",
        "body": "={{ $json.issue_body }}",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        720,
        -256
      ],
      "id": "ffee11ac-6673-450e-992f-2e4c7c8a202b",
      "name": "open-issue",
      "webhookId": "b25f9e66-23e4-4481-bf32-3fb5e8c44629",
      "credentials": {
        "githubApi": {
          "id": "pvSSidtXTbqvxbYY",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE incidents\n   SET github_issue_url = $1\n   WHERE fingerprint = $2;",
        "options": {
          "queryReplacement": "={{ [$json.html_url, $('normalizer').item.json.fingerprint] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        -48
      ],
      "id": "f88f456f-6db7-483f-9973-fa8735a13054",
      "name": "update-issue-url",
      "credentials": {
        "postgres": {
          "id": "c3dv7XytSKGUUoeY",
          "name": "AIOPS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizer": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "record-incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "search_runbooks",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "search_runbooks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_recent_commits": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "record-incident": {
      "main": [
        [
          {
            "node": "compose-issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compose-issue": {
      "main": [
        [
          {
            "node": "open-issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "open-issue": {
      "main": [
        [
          {
            "node": "update-issue-url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-issue-url": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eea565e2-5bca-463d-a7de-97b240b073fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1afbc0143798df2d957fbad06d54ee24dc69ed3c9c62e5f822ecb7361beffb24"
  },
  "id": "DCFmjic2F6ahyPOJ",
  "tags": []
}