workflows/runbook-ingest.json
{
  "name": "runbook-ingest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -128
      ],
      "id": "840a0952-b809-40f7-a07c-8522b20e7683",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Three runbooks as items for ingestion. content + metadata per doc.\nconst runbooks = [\n  {\n    title: \"Database Connection Pool Exhaustion\",\n    service: \"checkout-api\",\n    content: `Runbook: Database Connection Pool Exhaustion. Symptoms: services report \"Connection pool exhausted\" or \"max connections reached\"; downstream calls like the payment gateway time out under load; latency spikes correlate with traffic peaks. Likely root causes: pool max size too low (common default 20); leaked connections not returned to the pool; long-running queries holding connections; a slow downstream dependency causing connections to pile up. Investigation: check pool max and active count; correlate error timestamps with traffic and downstream latency; look for long-duration queries; check recent deploys that changed pool config. Remediation: increase pool max e.g. 20 to 50; add a circuit breaker on slow downstream dependencies; fix connection leaks with a finally block; add pool saturation alerting.`\n  },\n  {\n    title: \"OutOfMemoryError Java Heap Space\",\n    service: \"inventory\",\n    content: `Runbook: OutOfMemoryError Java heap space. Symptoms: service logs OutOfMemoryError and may crash or restart; memory climbs then the process is OOMKilled; often follows a deploy or data volume change. Likely root causes: heap size -Xmx too small; memory leak from caches without eviction or static collections; loading large datasets fully into memory. Investigation: capture a heap dump and inspect largest retainers; check recent deploys changing caching or batch sizes; review GC logs. Remediation: increase -Xmx short term; add cache eviction and size bounds; stream large datasets.`\n  },\n  {\n    title: \"Auth Token Refresh Failures\",\n    service: \"auth-service\",\n    content: `Runbook: Auth token refresh failures. Symptoms: spikes in 401/403 across services depending on auth-service; logs show token refresh failures or expired tokens. Likely root causes: clock skew causing premature expiry; auth-service downtime or rate limiting during refresh storms; misconfigured token TTL after a deploy. Investigation: check auth-service health and error rate; verify clock sync; confirm token TTL config. Remediation: stagger refreshes with jitter; fix clock sync; cache valid tokens until shortly before expiry.`\n  }\n];\n\nreturn runbooks.map(r => ({\n  json: {\n    content: r.content,\n    metadata: { title: r.title, service: r.service, source: \"runbook\" }\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -128
      ],
      "id": "85a7b24e-c8cc-487b-81ef-8f6c4460b1b8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        -128
      ],
      "id": "e17dba74-d693-45d5-a930-d6feb0516e59",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ahHDYJkUXHzgXUS9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        64
      ],
      "id": "ff859ec8-b639-4c68-8035-78858a1499b2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xPmmolWpjDif5VO0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              },
              {
                "name": "service",
                "value": "={{ $json.metadata.service }}"
              },
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        256,
        64
      ],
      "id": "4e358213-3f52-40c8-ab7c-8cd4346f4b0c",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7a9ddba4-d2b0-4739-b6e2-83e218cabf53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1afbc0143798df2d957fbad06d54ee24dc69ed3c9c62e5f822ecb7361beffb24"
  },
  "id": "ZjjyHRLP0h4Hd9Z0",
  "tags": []
}